:global(#root) {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "h"
    "m"
    "f";
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.header a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px var(--base-85);
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 4rem;
}

.main > div[role="group"] {
  display: grid;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
