.content {
  max-width: 32rem;
}

.progress {
  margin: 1rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 3rem 1fr 3rem;
}

.progress progress {
  width: 100%;
}

.links {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.links a {
  color: var(--base-95);
}

.links a:not([href]) {
  color: var(--base-60);
}
